.container{
    max-width: 320px;
    width: 100%;
    margin: auto;
}
.switch{
    width: 100px;
    height: 50px;
    display: inline-block;
    position: relative;

}
input{
    opacity: 0;
    width: 100px;
    height: 50px;
    z-index: 1;
}
.slider{
    background-color: black;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    transition-duration: 1s;
    cursor: pointer;
    border: 1px black solid;
}
.slider::before{
    content: "";
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 0;
    top: 4px;
    transform: translateX(0px);
    transition-property: transform;
    transition-duration: 1s;
    cursor: pointer;
}
input:checked + .slider {
    background-color: white;
    border: 1px solid black; 
}
input:checked + .slider::before{
    transform: translateX(48px);
    background-color: black;
}
input:focus + .slider{
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
}